*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    width: 100%;
}
header{
    background-color: #512D6D;
    text-align: center;
}
header a{
    text-decoration: none;
    color: #EEEEEE;
    display: block;
    font-size: 2.5rem;
}
header a:hover{
    text-decoration: none;
    color: #F8485E
}
section{
    background-color: rgba(0,193,212,.55);
    font-size: 1.2rem;
}
#lateral{
    background-color: #F8485E;
    text-align: center;
    padding: 50px 100px;
}
footer{
    background-color: #512D6D;
    color:#EEEEEE;
    text-align: center;
    padding: 20px 0;
}
.contenedor{
    width: 99%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    display: none;
}
#resultado{
    transition: all .4s ease-in-out;
}
.res{
    width: 99%;
    line-height: 25px;
    border: solid 3px #512D6D;
    padding: 10px;
    margin: 10px;
}
#mostrarcajas{
    font-size: 50px;
}
#todo{
    height: auto;
}
#utl_logo{
    width: 20%;
}
#menu{
    font-size: 30px;
    color: #512D6D;
}
#menu:hover{color: #EEEEEE;}
#bienv_text{
    color: black;
}